<div class='analysis-content'>
	<h1>Business Analysis</h1> 
	<hr> 
	<p class='main-desc'>
		We have categorised every business long question from the last 5 years. For the Short Questions just navigate to papers.
		
	</p> 
	<h2>Paper 1</h2>
	<div class="category-desc">
		<p><strong>Short Questions</strong></p>
		<p>Based off any topic. They will be added here soon.</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Household Budget</strong></p>  
		<p>Always Question 1.</p>
	</div>
	<div class="category-desc">
		<p><strong>Club Accounts</strong><p>
		<p>Always Question 2</p>
	</div>
	<div class="category-desc">
		<p><strong>Economics</strong></p>
		<p>Economics, National Budget and Foreign Trade - Always Question 3</p>
	</div>
	<div class="category-desc">
		<p><strong>Consumer and Insurance</strong></p>
		<p>Most Years Paper 1</p>
	</div>
	<div class="category-desc">
		<p><strong>Banking</strong></p>
		<p>Banking, Saving, Investing and Borrowing - Paper 1 Most Years</p>
	</div>
	<div class="category-desc">
		<p><strong>People At Work</strong></p>
		<p>Paper 1 Most Years and sometimes on Paper 2 as Industrial Relations</p>
	</div>
	<div class="category-desc">
		<p><strong>Technology</strong></p>
		<p>Sometimes Q6 Paper 1</p>
	</div>
	<h2>Paper 2</h2>
	<div class="category-desc">
		<p><strong>Ledgers</strong></p>
		<p>Always Question 1</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Business Documents</strong></p>  
		<p>Always Question 2</p>
	</div>
	<div class="category-desc">
		<p><strong>Final Accounts</strong><p>
		<p>Always Question 4</p>
	</div>
	<div class="category-desc">
		<p><strong>Marketing</strong></p>
		<p>More Often than not</p>
	</div>
	<div class="category-desc">
		<p><strong>Types of Business</strong></p>
		<p>Very Common</p>
	</div>
	<div class="category-desc">
		<p><strong>Induestrial Relations</strong></p>
		<p>Quite Common</p>
	</div>
	<div class="category-desc">
		<p><strong>Other Paper 2 Topics</strong></p>
		<p>Cost of Delivery, Business Plan, Cash Flow Forecast, Analysed Cash Book, Ratio Analysis, 
                   Chain of Production, Business Finance</p>
	</div>
</div>