<div class='analysis-content'>
	<h1>English Analysis</h1> 
	<hr> 
	<p class='main-desc'>
		We have not included the lines under the questions because it is better to focus on timing. We think that the amount of space you're given is pretty much irrelevant because of handwriting. To calculate the amount of time you should spend on a question you simply divide the marks by 3 multiply by 2 e.g spend 10 mins on a 15 mark question.
		The two sample papers don't have a marking scheme so we just included some general guidelines from the 2017 marking scheme.
	</p> 
	<div class="category-desc">
		<p><strong>Composition</strong></p>
		<p>Story Writing, Speech Writing, Personal Writing, Script Writing</p>
	</div>
	<div class="category-desc">
		<p><strong>Reading Comprehension</strong></p>
		<p>2017</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Studied Novel</strong></p>  
		<p>Not on 2017 papers</p>
	</div>
	<div class="category-desc">
		<p><strong>Unseen Poetry</strong><p>
		<p>Not on 2017 papers</p>
	</div>
	<div class="category-desc">
		<p><strong>Studied Poetry</strong></p>
		<p>2017</p>
	</div>
	<div class="category-desc">
		<p><strong>Unseen Drama</strong></p>
		<p>2017</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Studied Drama</strong></p>  
		<p>2017</p>
	</div>
	<div class="category-desc">
		<p><strong>Grammar</strong><p>
		<p>2017</p>
	</div>
	<div class="category-desc">
		<p><strong>Media Studies</strong></p>
		<p>Reviewing Posters, News Articles etc.</p>
	</div>
	<div class="category-desc">
		<p><strong>Functional Writing</strong></p>
		<p>Writing Formal Letters, Guidelines etc.</p>
	</div>
</div>