		
		<script type="text/javascript" src="/js/analysis.js"></script>
		<script type="text/javascript" src="/js/papers.js"></script>
		<script type="text/javascript" src="/js/filter.js"></script>
	</body>
</html>