		</div>
		<div class="footer">
			<a target="_blank" href="https://www.facebook.com/JuniorCertPapers">
				<img src="/images/fb-logo.png">
			</a>
			<a href="/privacypolicy">Privacy Policy</a>
		</div>
		<script type="text/javascript" src="/js/analysis.js"></script>
		<script type="text/javascript" src="/js/papers.js"></script>
		<script type="text/javascript" src="/js/filter.js"></script>
	</body>
</html>