<div class='analysis-content'>
	<h1>French Analysis</h1> 
	<hr>
	<p class='main-desc'>
		Every question from the last 5 French exams can be found here. We also have audio recordings below each question to help you
		with your listening comprehension which makes up over 40% of the exam.
		
	</p> 
	<h2>Listening Comprehension</h2>
	<div class="category-desc">
		<p><strong>Short Conversations</strong></p>
		<p>Question A and C in the listening comprehension. Listen to each recording twice.</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Introcuctions</strong></p>  
		<p>2 people talk about themselves. Each recording is played 3 times.</p>
	</div>
	<div class="category-desc">
		<p><strong>Long Conversations</strong><p>
		<p>Listening Comprehension Question D. Listen to the recording 3 times. During the second playing there will be pauses between each segment</p>
	</div>
	<div class="category-desc">
		<p><strong>News Items</strong></p>
		<p>Listening Comprehension Question E. 5 News Items played twice.</p>
	</div>
	<h2>Reading Section</h2>
	<div class="category-desc">
		<p><strong>Signs</strong></p>
		<p>Always the first question of the reading section.</p>
	</div>
	<div class="category-desc">
		<p><strong>Small Reading Comprehensions and Long Reading Comprehensions</strong></p>
		<p>If they ask you to list a certain number of things, you should list as many as you can. Especially if you are unsure of some of your answers. This goes for the listening comprehension aswell</p>
	</div>
	<h2>Written Section</h2>
	<div class="category-desc">
		<p><strong>Postcard or Note</strong></p>
		<p>The marks go for communicating the message.</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Letter</strong></p>  
		<p>Write a letter on a number of points. Remember your format and use the right name.</p>
	</div>
</div>