<div class='analysis-content'>
	<h1>Geography Analysis</h1> 
	<hr>
	<p class="main-desc">In the Geography exam you must answer all the short questions and 3 out of 5 long questions</p>
	<div class="category-desc">
		<p><strong>Structure of the Earth</strong></p>
		<p>Plates, Earthquakes, Volcanos, Fold Mountains</p>
	</div>
	<div class="category-desc">
		<p><strong>Rocks</strong></p>
		<p>Igneous, Sedimetary, Metamorphic</p>
	</div>
	<div class="category-desc">
		<p><strong>Weathering and Erosion</strong></p>
		<p>Weathering, Mass Movement</p>
	</div>
	<div class="category-desc">
		<p><strong>Rivers</strong></p>
		<p>Feature of Erosion/Deposition, Human Acitivity, Tourism</p>
	</div>
	<div class="category-desc">
		<p><strong>Glaciation</strong></p>
		<p>Feature of Erosion/Deposition</p>
	</div>
	<div class="category-desc">
		<p><strong>The Sea</strong></p>
		<p>Feature of Erosion/Deposition, Human Acitivity</p>
	</div>
	<div class="category-desc">
		<p><strong>Weather and Climate</strong></p>
		<p>Rainfall, Air/Ocean currents, Clouds, Hot Climate, Cold Climate</p>
	</div>
	<div class="category-desc">
		<p><strong>Soils</strong></p>
		<p>Soil Profiles, Woodland</p>
	</div>
	<div class="category-desc">
		<p><strong>Economic Activities</strong></p>
		<p>Primary, Secondary and Tertiary</p>
	</div>
	<div class="category-desc">
		<p><strong>Economic Inequality</strong></p>
		<p>Economic Development, North/South Divide</p>
	</div>
	<div class="category-desc">
		<p><strong>Population</strong></p>
		<p>Migration</p>
	</div>
	<div class="category-desc">
		<p><strong>Settlement</strong></p>
		<p>Patterns Urbanisation</p>
	</div>
	<div class="category-desc">
		<p><strong>Aerial Maps and Photos</strong></p>
		<p>Long Question 5 every year</p>
	</div>
</div>