<!DOCTYPE html>
<html>
    <head>
    	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112608390-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-112608390-1');
		</script>

    	<title><%= title %></title>
    	<meta name="description" 
    	content="<%= desc %>">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="icon" href="/images/green-logo.ico">
    	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    	<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:600" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    	<link rel="stylesheet" href="/css/styles.css" >

    	<script src="https://js.stripe.com/v3/"></script>
    	<script src="js/stripe.js" data-rel-js></script>
    </head>
    <body>
    	<div class="wrapper">
	    	<div class="container">
				<div class=title>
					<a href="/" >
						<i class="fas fa-graduation-cap"></i>
						JC Papers
					</a>
				</div>
				<div class="navigation">
					<div><a href="/about">About</a></div>
					<div><a href="/subjects">Subjects</a></div>
					<% if(user){ %>
						<!-- <div ><p class="user">Logged in as <%# (user.local.username || user.facebook.name) %></p></div> -->
						<div><a href="/profile">Profile</a></div>
						<div><a href="/logout">Logout</a></div>
					<% } %>
					<% if(!user){ %>
						<div><a href="/login">Login</a></div>
						<div><a href="/register">Register</a></div>
					<% } %>
				</div>
			</div>
		    	
		