<div class='analysis-content'>
	<h1>History Analysis</h1> 
	<hr> 
	<p class='main-desc'>
		We have divided every question from the last 5 years into different topics.
	</p> 
	<h2>1st Year</h2>
	<div class="category-desc">
		<p><strong>Archaeologist</strong></p>
		<p>Historian, Excavations, Sources etc.</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Ancient Ireland</strong></p>  
		<p>Stone Age, Bronze Age, Iron Age, Early-Christian</p>
	</div>
	<div class="category-desc">
		<p><strong>Ancient Rome</strong><p>
		<p>Soldier, Patrician Plebeian</p>
	</div>
	<div class="category-desc">
		<p><strong>The Middle Ages</strong></p>
		<p>The Feudal System, Castles, etc.</p>
	</div>
	<div class="category-desc">
		<p><strong>The Renaissance</strong></p>
		<p>Art, Architechture, Science, Medicine, Printing</p>
	</div>
	<h2>2nd Year</h2>
	<div class="category-desc">
		<p><strong>Age of Explorations</strong></p>
		<p>Instruments, Portugal, Colombus, Magellan, Conquistadores</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Reformation</strong></p>  
		<p>Abuses of Power, Luther, Calvin, Church of England, Counter-Reformation</p>
	</div>
	<div class="category-desc">
		<p><strong>The Plantations</strong><p>
		<p>Ulster, Cromwellian</p>
	</div>
	<div class="category-desc">
		<p><strong>Revolution</strong></p>
		<p>French, American, Wolfe Tone Rebellion</p>
	</div>
	<div class="category-desc">
		<p><strong>Industrial Revolution</strong></p>
		<p>Agriculture, Factories, Mines, Textiles, Transport</p>
	</div>
	<h2>3rd Year</h2>
	<div class="category-desc">
		<p><strong>Internation Relations 20th Century</strong></p>
		<p>World War 2, The Cold War</p>
	</div>
	<div class="category-desc">
		<p><strong>20th Century Ireland</strong></p>
		<p>Home Rule Crisis, Easter Rising, Civil War, The Emergency, The Troubles</p>
	</div>
	<div class="category-desc">
		<p><strong>Social Development 20th Century</strong></p>
		<p>Section 6 - Question B</p>
	</div>
</div>