<div class='analysis-content'>
	<h1>Irish Analysis</h1> 
	<hr> 
	<p class='main-desc'>
		Irish Analysis is grouped by type of question as opposed to topic. 
		It is really useful for studying the reading and listening comprehension sections of the exam.
		The marking schemes are not very helpful for the composition sections of the exam. 
		We hope to add sample answers and guides in the future to help with this.
	</p> 
	<h2>Paper 1</h2>
	<div class="category-desc">
		<p><strong>Listening Comprehension</strong></p>
		<p>Cluastuiscint Cuid A, Cuid B and Cuid C</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Léamhthuiscint</strong></p>  
		<p>2 small reading comprehensions</p>
	</div>
	<div class="category-desc">
		<p><strong>Gramadach</strong><p>
		<p>Brief section on verbs and general grammar</p>
	</div>
	<div class="category-desc">
		<p><strong>Ceapadóireacht</strong></p>
		<p>Brief section on verbs and general grammar</p>
	</div>
	<h2>Paper 2</h2>
	<div class="category-desc">
		<p><strong>Unseen Prose</strong></p>
		<p>Long Reading Comprehension</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Studied Prose</strong></p>  
		<p>Describe how a theme or emotion relates to one of your studied stories</p>
	</div>
	<div class="category-desc">
		<p><strong>Unseen Poetry</strong><p>
		<p>Answer 3 out of 6 questions on 2 unseen poems</p>
	</div>
	<div class="category-desc">
		<p><strong>Studied Poetry</strong></p>
		<p>Describe how a theme or emotion relates to one of your studied poems</p>
	</div>
	<div class="category-desc">
		<p><strong>Litir</strong></p>
		<p>Write a letter mentioning different points. A and B are informal. C is formal</p>
	</div>
</div>