<div class='analysis-content'>
	<h1>Maths Analysis</h1> 
	<hr> 
	<p class='main-desc'>
		Every maths question from the last 5 years has been grouped into 11 categories to focus your study. However, a lot of questions 
		incorporate many different topics, making them hard to completely categorise.
	</p> 
	<div class="category-desc">
		<p><strong>Numbers</strong></p>
		<p>Types of Numbers, Indices, Surds and Scientific Notation</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Algebra, Quadratics and Factorisation</strong></p>  
		<p>Definitely the broadest category</p>
	</div>
	<div class="category-desc">
		<p><strong>Applied Arithmetic</strong><p>
		<p>Taxes, Interest Rates, Money, Weight, Percentages</p>
	</div>
	<div class="category-desc">
		<p><strong>Trigonometry</strong></p>
		<p>Paper 2</p>
	</div>
	<div class="category-desc">
		<p><strong>Functions</strong></p>
		<p>Paper 1</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Sets</strong></p>  
		<p>Ppaer 1</p>
	</div>
	<div class="category-desc">
		<p><strong>Patterns and Sequences</strong><p>
		<p>Paper 1</p>
	</div>
	<div class="category-desc">
		<p><strong>Probability and Statistics</strong></p>
		<p>Paper 2</p>
	</div>
	<div class="category-desc">
		<p><strong>Area and Volume</strong></p>
		<p>Paper 2</p>
	</div>
	<div class="category-desc">
		<p><strong>Geometry</strong></p>
		<p>Paper 2 / also includes Theorems and Constructions</p>
	</div>
	<div class="category-desc">
		<p><strong>Co-ordinate Geometry</strong></p>
		<p>Paper 2</p>
	</div>
</div>