<div class='analysis-content'>
	<h1>Science Analysis</h1> 
	<hr> 
	<p class='main-desc'>
		Analysing the Science Past Papers is essential because of how repetitive the exam is.
	</p> 
	<h3>Biology</h3>
	<hr class="sub">
	<div class="analysis-row">
		<div>Living Things</div>
		<div>The Cell</div>
		<div>Food and Digestive System</div>
	</div>
	<div class="analysis-row">
		<div>Respiration</div>
		<div>The Breathing System</div>
		<div>The Circulatory System</div>
	</div>
	<div class="analysis-row">
		<div>Skeletal and Muscular System</div>
		<div>The Reproductive System</div>
		<div>Sensory System</div>
	</div>
	<div class="analysis-row">
		<div>The Excretory System</div>
		<div>Plants</div>
		<div>Habitat Study and Ecology</div>
	</div>
	<div class="analysis-row">
		<div>Microbiology</div>
	</div>
	<h3>Chemistry</h3>
	<hr class="sub">
	<div class="analysis-row">
		<div>Elements, Compounds and Mixtures</div>
		<div>Matter</div>
		<div>Separating Mixtures</div>
	</div>
	<div class="analysis-row">
		<div>Acids and Bases</div>
		<div>The Atom</div>
		<div>Air</div>
	</div>
	<div class="analysis-row">
		<div>Carbon Dioxide</div>
		<div>Water</div>
		<div>Chemical Bonding</div>
	</div>
	<div class="analysis-row">
		<div>Metals and Plastics</div>
	</div>
	<h3>Physics</h3>
	<hr class="sub">
	<div class="analysis-row">
		<div>Measurement and Units</div>
		<div>Force and Pressure</div>
		<div>Work, Power and Energy</div>
	</div><div class="analysis-row">
		<div>Levers</div>
		<div>Light</div>
		<div>Sound</div>
	</div><div class="analysis-row">
		<div>Heat</div>
		<div>Magnetism</div>
		<div>Electricity</div>
	</div>
</div>