<div class='analysis-content'>
	<h1>Spanish Analysis</h1> 
	<hr>
	<p class='main-desc'>
		Every question from the last 5 spanish exams can be found here. We also have audio recordings below each question to help you
		with your listening comprehension which makes up over 40% of the exam.
		
	</p> 
	<h2>Listening Comprehension</h2>
	<div class="category-desc">
		<p><strong>A. Dialógos</strong></p>
		<p>Answer questions based on conversations. Listen to audio 3 times.</p>
	</div>
	<div class="category-desc"> 
		<p><strong>B. Anuncios</strong></p>  
		<p>Questions based on announcement common topics include weather. Listen to audio 3 times.</p>
	</div>
	<div class="category-desc">
		<p><strong>C. Una Noticia</strong><p>
		<p>Listen to a news report 3 times. A lot of marks go for this question.</p>
	</div>
	<div class="category-desc">
		<p><strong>D. Descriptivos</strong></p>
		<p>Descriptions. There will be a pause during the second playing of each description for you to write answers</p>
	</div>
	<h2>Reading Comprehension</h2>
	<div class="category-desc">
		<p><strong>Translations</strong></p>
		<p>You are given Spanish words or phrases and asked to show what they mean. These past questions should give you insight into the types of topics they use.</p>
	</div>
	<div class="category-desc">
		<p><strong>Small Reading Comprehensions and Long Reading Comprehensions</strong></p>
		<p>If they ask you to list a certain number of things, you should list as many as you can. Especially if you are unsure of some of your answers.</p>
	</div>
	<h2>Written Section</h2>
	<div class="category-desc">
		<p><strong>Numbers</strong></p>
		<p>To do well in this section you simply have to learn the rules about numbers in your book. Pay attention to Cardinal Numbers(Primer(o/a) Segundo/a) and weights.</p>
	</div>
	<div class="category-desc">
		<p><strong>Sentences</strong></p>
		<p>Translate sentences from English to Spanish.</p>
	</div>
	<div class="category-desc"> 
		<p><strong>Letter</strong></p>  
		<p>Write on a number of points</p>
	</div>
</div>