<%- include('partials/header') %>
<%- include('partials/message') %>
<%- include('partials/filter') %>
<div class="about-container">
	<div class="about">
		<div class="left">
			<i class="fa fa-graduation-cap icon fa-5x" aria-hidden="true"></i>
			<h1>JC Papers</h1>

			<h4>Study Less, Learn More</h4>
		</div>
		<div class="right">
			<p>JC-Papers is the easiest way to access Junior Cert Papers.<br><br></p>
			<p> We also provide <strong>free exam paper analysis.</strong> The site is still in progress but it will undoubtedly help you achieve <strong>better results.</strong> So why not register your free account today or even just browse the past exam papers now. No signup needed</p>
			<div class="btns">
				<a href="/subjects">Papers</a>
				<a href="/register">SignUp</a>
			</div>
		</div>
	</div>
</div>
	
<%- include('partials/footer') %>