<%- include('partials/header',
	 {title : "JC-Papers - Junior Cert Past Papers", desc : "JC-Papers is the best way to study Junior Cert Past Papers"}) %>
<%- include('partials/message') %>
<%- include('partials/filter') %>
<div class="subjects-wrapper">
	<a onclick="navigateLink('Maths')" class="subject">
		<div class="">
			<img src="/images/calculator.png"/>
		</div>	
		<div class="text">Maths</div>
	</a>
	<a class="subject" onclick="navigateLink('Irish')">
		<div class="">
			<img class="" src="/images/shamrock.png">
		</div>
		<div class="text">Irish</div>
	</a>
	<a class="subject" onclick="navigateLink('English')">
		<div class="">
			<i class="fa fa-book fa-2x" aria-hidden="true"></i>
		</div>	
		<div class="text">English</div>
	</a>
	<a class="subject" onclick = "navigateLink('Science')">
		<div class="">
			<i class="fa fa-flask fa-2x" aria-hidden="true"></i>
		</div>	
		<div class="text">Science</div>
	</a>
	<a class="subject" onclick = "navigateLink('Geography')">
		<div class="">
			<i class="fa fa-globe fa-2x" aria-hidden="true"></i>
		</div>	
		<div class="text">Geography</div>
	</a>
	<a class="subject" onclick = "navigateLink('History')">
		<div class="">
			<i class="fa fa-hourglass-end fa-2x" aria-hidden="true"></i>
		</div>	
		<div class="text">History</div>
	</a>
	<a class="subject" onclick = "navigateLink('French')">
		<div class="">
			<img class="img" src="images/baguette.png">
		</div>
		<div class="text">French</div>
	</a>
	<a class="subject" onclick = "navigateLink('Spanish')">
		<div class="">
			<img class="" src="images/bull.png">
		</div>
		<div class="text">Spanish</div>
	</a>
	<a class="subject" onclick = "navigateLink('German')">
		<div class="">
			<img class="img" src="images/german.png">
		</div>
		<div class="text">German</div>
	</a>
	<a class="subject" onclick = "navigateLink('Business')">
		<div class="">
			<img src="images/briefcase.png"/>
		</div>	
		<div class="text">Business</div>
	</a>

	<a class="subject" onlclick"navigateLink('Religion')">
		<div class="">
			<img class="" src="images/praying.png">
		</div>
		<div class="text">Religion</div>
	</a>
	<a class="subject" onclick="navigateLink('cspe')">
		<div class="">
			<img src="images/scales.png"/>
		</div>
		<div class="text">CSPE</div>
	</a>
</div>
<%- include('partials/footer') %>